<form #form="ngForm" style="min-height: 0;">
  <span class="tag" [class.tag-empty]="!tag.category || tag.category === ''" [class.tag-no-entity]="tag.category !== '' && tag.name === ''" style="overflow: visible" (click)="focusInput()">
    <button *ngIf="(tag.name === '' && tag.category !== '') || (entityFocused && tag.name === '')" class="tag__delete" tabindex="-1" (click)="clearCategory(); focusCategoryInput()"></button>
    <span class="tag__key">
      <input #categoryInput [(ngModel)]="tag.category" name="category" type="text" autocomplete="off" spellcheck="false"
        class="tag-input tag-input-category tag__key"
        style="font-weight: inherit; font-family: inherit; background: none; border: 0; outline: 0; min-width: 20px;"
        [hidden]="categories[tag.category] && !categoryFocused"
        [style.width.px]="categorySpan.offsetWidth + 8"
        (keyup)="categoryInputGeneralKeyUp($event)"
        (keyup.enter)="categoryInputSpecialKeyUp($event)"
        (keyup.arrowUp)="categoryInputSpecialKeyUp($event)"
        (keyup.arrowDown)="categoryInputSpecialKeyUp($event)"
        (click)="preventParentClick($event)"
        (focus)="categoryFocused = true"
        (blur)="categoryFocused = false; focus = false; (categories[tag.category]) ? null : tag.category = ''; deleteEmptyTags.emit()">
      <span #categorySpan class="tag-span" [class.position-off-screen]="categoryFocused" (click)="preventParentClick($event); focusCategoryInput()">{{ tag.category }}{{ (tag.category && tag.category.length > 0) ? ':' : null }}</span>
      <div *ngIf="categoryFocused && !categories[tag.category]" class="tag-list tag-list-categories">
        <div #categoriesList *ngFor="let category of categories | tagPipe:tag.category" class="tag-list-item" [class.tag-list-item-highlighted]="highlighted.category === category.category || (categories | tagPipe:tag.category).length === 1" 
          (mousedown)="focusEntityInput(category)">
          {{ category.category }}
        </div>
      </div>
    </span>
    <span [hidden]="!categories[tag.category]" class="tag__value">
      <input #entityInput [(ngModel)]="tag.name" name="entity" type="text" autocomplete="off" spellcheck="false"
        class="tag-input tag-input-entity tag__value" 
        style="font-weight: inherit; font-family: inherit; background: none; border: 0; outline: 0; min-width: 20px;"
        [style.width.px]="entitySpan.offsetWidth + 8"
        [hidden]="!entities || !entityFocused"
        (keydown.enter)="entityInputSpecialKeyUp($event)"
        (keyup.arrowUp)="entityInputSpecialKeyUp($event)"
        (keyup.arrowDown)="entityInputSpecialKeyUp($event)"
        (click)="preventParentClick($event)"
        (focus)="entityFocused = true"
        (blur)="entityFocused = false; focus = false; (includes(entities, testEntity)) ? null : tag.name = ''; tag.entityId = ''; deleteEmptyTags.emit();">
      <span #entitySpan class="tag-span" 
        [class.position-off-screen]="entityFocused || !entities || entities.length < 1" 
          (click)="preventParentClick($event); focusEntityInput(null)">
          {{ tag.name }}{{ (includesDuplicateNames(entities, tag.name)) ? ' (' + tag.entityId + ')' : null }}
      </span>
      <div *ngIf="entityFocused && categories[tag.category] && ((entities | tagPipe:tag.name).length > 1 || (entityFocused && (entities | tagPipe:tag.name).length === 1 && (entities | tagPipe:tag.name)[0] !== tag.entity))" 
        class="tag-list tag-list-entities">
        <div #entitiesList *ngFor="let entity of entities | tagPipe:tag.name" class="tag-list-item" [title]="name + ' (' + entity.entityId + ')'" [class.tag-list-item-highlighted]="highlighted.entity === entity" 
          (mousedown)="tag.name = entity.name; tag.entityId = entity.entityId; testEntity = entity;">
          {{ entity.name }}{{ (includesDuplicateNames(entities, entity.name)) ? ' (' + entity.entityId + ')' : null }}
        </div>
      </div>
    </span>
    <button *ngIf="tag.category && tag.category !== '' && tag.entity && tag.name !== ''" class="tag__delete" tabindex="-1" (mousedown)="tag.name= ''; tag.entityId= ''; focusEntityInput();"></button>
  </span>
</form>